<ion-content [fullscreen]="true">

  <ion-card class="headerCard">
    <ion-card-content>
      <br>
      <ion-card class="bannerHeader">
        <ion-card-header>
          <ion-card-title>
            <h1 class="title"><strong>Mis datos</strong></h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card-content>
    <img class="bannerImg" src="assets/libs/inher/images/productos-icono.png" alt="Productos">
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>Datos de usuario</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>

          <ion-col class="card-box-profile">
            <img src="assets/libs/inher/images/icono-perfil-mujer.png" alt="Perfil Mujer" class="imgProfile">
            <h4>Isabel Salazar</h4>
            <p>Tel: 55 1234 5678</p>
            <p>Correo: Isalazar@todosi.com</p>
          </ion-col>

          <ion-col class="card-box-profile-final">
            <ion-row>
              <ion-col>
                <h5>Nombre del negocio</h5>
                <p><strong> Regalos y adornos</strong></p>
              </ion-col>

              <ion-col>
                <h5>Crédito</h5>
                <p><strong>Activo</strong></p>
              </ion-col>

              <ion-col>
                <h5>Plazo</h5>
                <p><strong>6 Meses</strong></p>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col>
                <h5>Correo</h5>
                <p><strong>Isalazar@todosi.com </strong></p>
              </ion-col>

              <ion-col>
                <h5>Teléfono</h5>
                <p><strong>(55) 1234 5678 </strong></p>
              </ion-col>

              <ion-col>
                <h5>No. Crédito</h5>
                <p><strong>000989</strong></p>
              </ion-col>

            </ion-row>
          </ion-col>

        </ion-row>
        <hr class="divisor">
        <ion-row class="dataUser">

          <ion-col>
            <ion-row class="headerData">
              <ion-col>
                <h4>Cambio de datos</h4>
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col class="card-box-data">
                <ion-row>
                  <ion-col>
                    <h5>Información de contacto</h5>
                    <p>Correo electrónico</p>
                    <p>(obligatorio)</p>
                    <ion-input placeholder="mail@mail.com"></ion-input>
                    <span>Si cambias esto, te enviaremos un correo electrónico a tu nueva dirección para confirmarlo.
                      <strong>La nueva dirección no se convertirá en la activa hasta que no se confirme.</strong></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="finalButtons">
                    <ion-button class="secondButton">Cancelar</ion-button>
                    <ion-button>Cambiar</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col class="card-box-data-final">
                <ion-row>
                  <ion-col>
                    <h5>Información de contacto</h5>
                    <p>Telefono</p>
                    <p>(obligatorio)</p>
                    <ion-input placeholder="(55) 12345678"></ion-input>
                    <span>Si cambias esto, te enviaremos un correo electrónico a tu nueva dirección para confirmarlo.
                      <strong>La nueva dirección no se convertirá en la activa hasta que no se confirme.</strong></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="finalButtons">
                    <ion-button class="secondButton">Cancelar</ion-button>
                    <ion-button>Cambiar</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
