<ion-content [fullscreen]="true">

  <ion-card class="headerCard">
    <ion-card-content>
      <br>
      <ion-card class="bannerHeader">
        <ion-card-header>
          <ion-card-title>
            <h1 class="title"><strong>Mis fechas de pago</strong></h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card-content>
    <img class="bannerImg" src="assets/libs/inher/images/icono-fechas-de-pago.png" alt="Fechas de Pago">
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>Estatus de crédito</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="tableChange('st')"> Simple Table</ion-button>
      <ion-button (click)="tableChange('mt')"> Material Table</ion-button>
      <ion-button (click)="tableChange('it')"> Ionic List Table</ion-button>
      <table class="table-striped" *ngIf="simpleTable">
        <thead>
          <tr>
            <!-- <th scope="col">Documento</th> -->
            <th scope="col">Pago 4 de 4</th>
            <th scope="col">Estatus</th>
            <th scope="col">Saldo pendiente</th>
            <th scope="col">Liquidar antes de:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th><a href="#" data-toggle="tooltip" data-placement="top" title="Descarga"><i class="fas fa-file-pdf"></i></a></th> -->
            <td>
              <p><span>$1,638.34</span></p>
            </td>
            <td>
              <p>Pagado</p>
            </td>
            <td>
              <p>$9,462.64</p>
            </td>
            <td>
              <p>30/03/2022</p>
            </td>
          </tr>
          <tr>
            <!-- <th><a href="#" data-toggle="tooltip" data-placement="top" title="Descarga"><i class="fas fa-file-pdf"></i></a></th> -->
            <td>
              <p><span>$1,638.34</span></p>
            </td>
            <td>
              <p>Pagado</p>
            </td>
            <td>
              <p>$9,462.64</p>
            </td>
            <td>
              <p>30/03/2022</p>
            </td>
          </tr>
          <tr class="atraso">
            <!-- <th><a href="#" data-toggle="tooltip" data-placement="top" title="Descarga"><i class="fas fa-file-pdf"></i></a></th> -->
            <td>
              <p><span>$1,638.34</span></p>
            </td>
            <td>
              <p>Atrasado</p>
            </td>
            <td>
              <p>$9,462.64</p>
            </td>
            <td>
              <p>30/03/2022</p>
            </td>
          </tr>
          <tr class="atraso">
            <!-- <th><a href="#" data-toggle="tooltip" data-placement="top" title="Descarga"><i class="fas fa-file-pdf"></i></a></th> -->
            <td>
              <p><span>$1,638.34</span></p>
            </td>
            <td>
              <p>Atrasado</p>
            </td>
            <td>
              <p>$9,462.64</p>
            </td>
            <td>
              <p>30/03/2022</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="materialTable">
        <ng-container matColumnDef="pagos">
          <th mat-header-cell *matHeaderCellDef> Pagos </th>
          <td mat-cell *matCellDef="let element"> {{element.pagos | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef> Estatus </th>
          <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
        </ng-container>

        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef> Saldo pendiente </th>
          <td mat-cell *matCellDef="let element"> {{element.saldo | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="liquidar">
          <th mat-header-cell *matHeaderCellDef> Liquidar antes de: </th>
          <td mat-cell *matCellDef="let element"> {{element.liquidar}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-size: 16px;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; " style="border: white;"
          [style.color]="row.estatus === 'Atrasado' ? 'red !important' : 'black'"></tr>
      </table>
      <ion-grid *ngIf="ionicTable">
        <ion-row class="tableIonic">

          <ion-col>
            <ion-list-header>
              <ion-label class="headerTable">Pagos</ion-label>
            </ion-list-header>
            <ion-row class="paymentRow" *ngFor="let item of dataSource">
              <ion-label>{{item.pagos | currency}}</ion-label>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-list-header>
              <ion-label class="headerTable">Estatus</ion-label>
            </ion-list-header>
            <ion-row *ngFor="let item of dataSource"
              [style.color]="item.estatus === 'Atrasado' ? 'red !important' : 'black'">
              <ion-label>{{item.estatus}}</ion-label>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-list-header>
              <ion-label class="headerTable">Saldo Pendiente</ion-label>
            </ion-list-header>
            <ion-row *ngFor="let item of dataSource"
              [style.color]="item.estatus === 'Atrasado' ? 'red !important' : 'black'">
              <ion-label>{{item.saldo | currency}}</ion-label>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-list-header>
              <ion-label class="headerTable">Liquidar antes de:</ion-label>
            </ion-list-header>
            <ion-row *ngFor="let item of dataSource"
              [style.color]="item.estatus === 'Atrasado' ? 'red !important' : 'black'">
              <ion-label>{{item.liquidar}}</ion-label>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <br>
      <ion-card class="bannerCard">
        <ion-card-header>
          <ion-card-title>
            <h4><strong>Referencias de Pago</strong></h4>
          </ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="card-box-credito">
              <ion-row>
                <ion-col>
                  <h5>Nombre del Cliente:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].name}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>No. de cliente:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].id}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>No. de crédito:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].idLoan}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>Fecha de impresión:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].dateLoan}}
                  </strong>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col>
                  <h5><strong>Realiza tu pago a través del siguiente medio:</strong></h5>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <img src="assets/libs/inher/images/logo-bbva.png" alt="logo BBVA">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>Cuenta:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].account}}
                  </strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>Clabe:</h5>
                </ion-col>
                <ion-col>
                  <strong>
                    {{dataClient[0].accountClabe}}
                  </strong>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-chip color="warning" *ngIf="alertChip">
          <ion-icon name="close-circle" (click)="alert()"></ion-icon>
          <ion-label>
            <strong>Recuerda enviar tu comprobante de pago a </strong> cobranza@todosi.com
          </ion-label>
        </ion-chip>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>
