
<ion-content>
<div class="background">
  <ion-row >
    <ion-col size="12" class="ion-padding">
      <div *ngIf="ruteNav === 'login'">
        <!-- <img src="assets/libs/inher/images/logo-pal-negocio-login.png" alt="Logo Pal' Negocio" class="mx-auto d-block logo-log"> -->
        <img  src="assets/libs/inher/images/pal-negocio-tienda.png" alt="Tienda" class="mx-auto d-block tienda" style="width: 200px;">
      </div>
      <div *ngIf="ruteNav === 'registro'">
        <!-- <img src="assets/libs/inher/images/logo-pal-negocio-login.png" alt="Logo Pal' Negocio" class="mx-auto d-block logo-log"> -->
        <img  src="assets/libs/inher/images/logo-pal-negocio-login.png" alt="Tienda" class="mx-auto d-block tienda" style="width: 200px;">
      </div>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="ruteNav === 'login'">
    <ion-row class="ion-padding">
      <ion-col
          size="12"
          size-lg="6"
          size-md="6"
          size-sm="6">
          <ion-card-content>
            <div style="width: 100%; text-align: center;" class="ion-padding">
              <h1 style="font-size: 30px; color: #3c3c7f;">¡Hola!</h1>
              <h4  style="font-size: 20px;">Bienvenido</h4>
              <p  style="font-size: 20px;"><span>Ingresa a tu cuenta</span></p>
              <form style="margin-top: 50px;">
                  <ion-item>
                    <ion-input  placeholder="Correo / Teléfono"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-input placeholder="Contraseña"></ion-input>
                  </ion-item>
              </form>
              <br><br>
              <a href="#" class="olvido-contrasena" [routerLink]="['/login/recuperar']" style="color: #3c3c7f;">¿Olvidaste la contraseña?</a>
              <br><br><br>
              <ion-row class="padding">
                <ion-col class="finalButtons">
                  <ion-button  expand="block" class="secondButton">Iniciar sesión</ion-button>
                </ion-col>
              </ion-row>
              <hr>
              <ion-row class="padding">
                <ion-col  class="finalButtons ">
                  <ion-button expand="block" routerLink="/registro/" class="secondButton">Registrarme</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-col>
        <ion-col
          size="12"
          size-lg="6"
          size-md="6"
          size-sm="6">
          <ion-card-content class="backgroundImg verticalLine" >
            <div style="width: 100%; text-align: center;" class="ion-padding">
              <p style="font-size: 30px; padding-top: 100px; color: #3c3c7f;"><span>Estás solicitando:</span></p>
              <br>
              <span style="font-size: 50px; color: #3c3c7f;">$10,000.00</span>
              <br><br>
              <p style="font-size: 20px;">El crédito debe ser saldado en</p>
              <p style="font-size: 20px;">12 pagos <strong>quincenales</strong></p>
              <p style="font-size: 20px;">Tu pago <strong>quincenal</strong> será:</p>
              <p><span class="pagoqm" style="font-size: 50px; color: #3c3c7f;">$1,157.52</span></p>

            </div>
            <br><br>
            <div class="legales">
              <p style="font-size: 20px;">Más de tu seguro | <a style="color: #3c3c7f;" href="#">Términos y condiciones</a> | <a style="color: #3c3c7f;" href="#">Aviso de privacidad</a> | TDSFIN S.A.P.I de C.V.</p>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
  </ion-card>

  <ion-card *ngIf="ruteNav === 'registro'">
    <ion-row >
      <ion-col
          size="12"
          size-lg="6"
          size-md="6"
          size-sm="6">
          <ion-card-content class="verticalLin">
            <div style="width: 100%; text-align: center;" class="ion-padding">
              <h1 style="font-size: 30px; color: #3c3c7f;">¡Bienvenido!</h1>
              <h4  style="font-size: 20px;">Este es el primer paso para hacer crecer tu Negocio</h4>
              <br>
              <p  style="font-size: 20px;"><span>Ayúdanos con los siguientes datos:</span></p>
              <form style="margin-top: 50px;">
                  <ion-item>
                    <ion-label position="stacked">Correo</ion-label>
                    <ion-input  placeholder="Correo"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Confirma tu correo</ion-label>
                    <ion-input  placeholder="Confirma tu correo"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Teléfono</ion-label>
                    <ion-input  placeholder="Teléfono"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Confirma tu teléfono</ion-label>
                    <ion-input  placeholder="Confirma tu teléfono"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Contraseña</ion-label>
                    <ion-input placeholder="Contraseña"></ion-input>
                  </ion-item>
                  <br>
                  <ion-item>
                    <ion-label position="stacked">Confirma tu contraseña</ion-label>
                    <ion-input  placeholder="Confirma tu contraseña"></ion-input>
                  </ion-item>
                  <br><br>
                  <p>Elige como quieres activar tu cuenta</p>
                  <ion-list>
                    <ion-item>
                      <ion-checkbox  color="primary"> </ion-checkbox>
                      <ion-label style="margin-left: 20px;"> Mensaje de texto</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox  color="primary"> </ion-checkbox>
                      <ion-label style="margin-left: 20px;"> Whats App</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox  color="primary"> </ion-checkbox>
                      <ion-label style="margin-left: 20px;"> Correo electrónico</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox  color="primary"> </ion-checkbox>
                      <ion-label style="margin-left: 20px;">  Al regístrate, confirmas que aceptas el <br><a href="#">aviso de privacidad</a> </ion-label>
                    </ion-item>
                  </ion-list>
              </form>
              <br><br>
              <ion-row class="padding">
                <ion-col class="finalButtons">
                  <ion-button  expand="block" class="secondButton">Registrarme</ion-button>
                </ion-col>
              </ion-row>
              <hr>
              <ion-row class="padding">
                <p>¿Ya eres usuario? <a routerLink="/login/">Iniciar sesión</a></p>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-col>
        <ion-col
          size="12"
          size-lg="6"
          size-md="6"
          size-sm="6">
          <ion-card-content class="backgroundImg" >
            <div style="width: 100%; text-align: center;" class="ion-padding">
              <p style="font-size: 30px; padding-top: 100px; color: #3c3c7f;"><span>Estás solicitando:</span></p>
              <br>
              <span style="font-size: 50px; color: #3c3c7f;">$1,000,000.00</span>
              <br><br>
              <p style="font-size: 20px;">El crédito debe ser saldado en</p>
              <p style="font-size: 20px;">12 pagos <strong>quincenales</strong></p>
              <p style="font-size: 20px;">Tu pago <strong>quincenal</strong> será:</p>
              <p><span class="pagoqm" style="font-size: 50px; color: #3c3c7f;">$1,157.52</span></p>

            </div>
            <br><br>
            <div class="legales">
              <p style="font-size: 20px;">Más de tu seguro | <a style="color: #3c3c7f;" href="#">Términos y condiciones</a> | <a style="color: #3c3c7f;" href="#">Aviso de privacidad</a> | TDSFIN S.A.P.I de C.V.</p>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
  </ion-card>
  <br><br>
  </div>
